# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local env
.env
.env.local

.agents
.claude
CLAUDE.md
skills-lock.json
.vercel
mercedes-benz-eqe-500-2026-05-31 (6).pdf
vercel.json